{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Comment creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <table class="table">
            <tr>
                <td>
                    <input type="submit" value="Create" class="btn btn-primary"/>
                    {{ form_end(form) }}
                </td>
                <td>
                    <a href="{{ path('task_index') }}" class="btn btn-primary">Back to tasks</a>
                    
                </td>
            </tr>
        </table>
                </div>
{% endblock %}
